@import "../utils/variables";
@import "../utils/mixins";

/* -----SECTION TITRE -----*/
#first_section{
    position: relative;
    
    & figure{
        width: 100vw;
        margin: 0;
        & img{
            max-width: 100%;
            height: auto;
            @include grande-tablette{
                width: 100vw;
            }
        }
    }
    & h1{
        position: absolute;
        top: 100px;
        //left: 550px;
        left: 50%;
        transform: translate(-50%);
        font-size: 70px;
        font-family: 'Miltonian Tattoo', cursive;
        @include grande-tablette{
            top: 0;
        }
        @include mobile{
            font-size: 30px;
        }
        & span{
            position: absolute;
            font-size: 15px;
            top: 80px;
            left: 230px;
            
            @include mobile{
                font-size: 5px;
                left: 120px;
                top: 30px;
            }
        }
    }

    & h2{
        font-size: 22px;
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        @include grande-tablette{
            top: 200px;
        
        }
        @include petite-tablette{
            top: 150px;
            
        }
        @include mobile{
            font-size: 10px;
            top: 70px;
            
        }
    }
}

/*----- SECTION OURSON -----*/

#catalogue, .partie__ourson{
    

    & #div_server_out{
        text-align: center;
        margin-top: 50vh;
        transform: translateY(-50%);
        font-weight: bold;
        font-size: 2em;
    }
   
    & .PartieOurson{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid grey ;
        border-radius: 4px;
        box-shadow: 0.2em 0.2em 0.2em 0.2em grey;
        margin: 20px auto;

        @include petite-tablette{
            flex-direction: column;
        }

        & figure{
            margin: 0;
            width: 40%;
            @include petite-tablette{
                width: 100%;
            }

            & img{
                width: 100%;
                height: 100%;
                border-radius: 4px 0 0 4px;
                
            }
        }
        & .description_ourson{
            width: 40%;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            @include grande-tablette{
                font-size: 0.75em;
            }

            @include petite-tablette{
                width: 100%;
                padding-left: 0;
                font-size: 1em;
                text-align: center;
            }
            & .id_ourson{
                display: flex;
                flex-direction: row;

                @include petite-tablette{

                    margin: 0 auto;
                }
                & #id_teddy{

                    @include mobile{
                        margin: auto;
                    }
                }
            }   
            & p{

                @include mobile{
                    padding: 0 10px 0 10px;
                   
                }
                & span{
                    font-weight: bold;
                }
                & a{
                    text-decoration: none;
                    color: black;
                }
            }
            & p:nth-child(6){
                padding: 0;
                text-align: justify;
                @include petite-tablette{
                    padding: 0 5px 0 5px;
                }
            }
        }
        & .tarifs{
            width: 20%;
            display: flex;
            color: $vert;
            font-weight: bold;
            font-size: 40px;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            @include petite-tablette{
                width: 100%;
                flex-direction: row;
            }
            & .ajout_panier{
                
                & p{
                    transform: scale(1);
                    transition: transform 400ms;
                    &:hover{
                        transform: scale(1.2);
                    }

                }

                & a{
                    text-decoration: none;
                    color: $vert;
                    font-size: .4em;
                    
                }
                @include petite-tablette{
                    margin: auto 0;
                }
            }
        
            
        }
    }
}
/*-----Page Product-----*/

#page_product{


    & .onlyTeddy{
        width: 90%;
        border: 1px solid grey ;
        border-radius: 4px;
        box-shadow: 0.2em 0.2em 0.2em 0.2em grey;
        margin: 20px auto;
        @include grande-tablette{

            margin-top: 100px;
        }
        @include petite-tablette{
            margin-top: auto;
        }

        & figure{
            margin: 0;
            width: 100%;

            & img{
                width: 100%;
                height: auto;
                border-radius: 4px 4px 0 0;

            }
        }
        & .description_Teddy{
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            & h3{
                text-align: center;
            }
            & .id_ourson{
                display: flex;
                justify-content: center;

                & span{
                    font-weight: bold;
                }
                
            }
            & .labelForColor{
                margin: auto;

                @include mobile{
                    text-align: center;
                }
                
                & label{
                    font-weight: bold;

                    

                    & select{
                        width: 200px;
                        align-items: center;

                        & option{
                            margin: auto;
                            align-items: center;
                        }
                    }
                }
                
            }

            & .divDescript{
                text-align: center;;
            }
        }
    }
    & .divTarifs{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        & .prixTeddy{
            color: $vert;
            font-weight: bold;
            font-size: 40px;
        }
    }
}
/* ------PAGE PANIER----- */

#page_panier {

    & #monPanier {
        width: 90%;
        border: 1px solid grey ;
        border-radius: 4px;
        box-shadow: 0.2em 0.2em 0.2em 0.2em grey;
        margin: 20px auto;

        & #infoPanier{

            & h2 {
                text-align: center;

            }

            & #detailCommande{
                margin-bottom: 20px;

                & #titreCommande{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 20px;
                    @include mobile{
                        font-size: 0.7em;
                    }

                    & #nomCommande {
                        font-weight: bold;
                        width: 50%;
                        text-align: center;
                        @include petite-tablette{
                            margin: auto;
                        }
                    }
                    & #couleurCommande, #prixCommande{
                        font-weight: bold;
                        width: 25%;
                        text-align: center;
                        @include petite-tablette{
                            margin: auto;
                        }
                    }
                }
                
                & .detailOursonAchat{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    margin-bottom: 10px;
                    

                    & #myDetailName{
                        width: 50%;
                        text-align: center;
                        font-size: .8em; 
                        display: flex;
                        justify-content: space-around;
                        @include mobile{
                            justify-content: space-around;
                        }
                        
                        & #fig_pic_cart{
                            width: 30%;

                            & img{
                                width: 100%;                                
                            }
                        }
                        & #div_name_cart{
                            width: 70%;
                            margin: auto;
                            font-weight: bold;;
                        }
                    }

                    & #myDetailColor, #myDetailPrice{
                        width: 25%;
                        margin: auto;
                        text-align: center;
                        font-size: .8em;

                        & #selectNumberOrTeddies{
                            width: 50px;
                            margin: auto;

                             option{
                                 margin: auto;
                             }
                        }

                    }

                }

                & #divTotal{
                    width: 100%;
                    display: flex;

                    & #totalPrice{
                        width: 66%;
                        text-align: right;
                        font-weight: bold;
                    }

                    & #totalPriceCalcul{
                        width: 25%;
                        text-align: right;

                    }
                }
            }
            
        }
        & #div_inform_form{

            & #paragraph_inform{
                margin: 30px 0 ;
                text-align: center;
            }
        }
        & #my_form{

            & #div_form_first_name, #div_form_name, #div_form_address, #div_form_city, #div_form_email{
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
                
                & label{
                    padding-left: 5%;
                }

                & input, textarea{
                    width: 90%;
                    margin: 0 auto;
                }

            }

            & #div_confirm{
                text-align: center;
 
            }
        }
    }
}