@import "../utils/variables";
@import "../utils/mixins";

#footer, .footer_catalogue{
    background-color:grey;
    color: $blanc;
    display: flex;
    justify-content: space-around;
    
    & div{

        & h4{
            text-align: center;
        }

        & ul{
            list-style: none;
            @include mobile{
                margin-bottom: 10px;
                padding: 0;
            }
            & li{
                
                & a{
                    color: $blanc;
                    text-decoration: transparent;
                    transition: text-decoration 400ms;
                    font-size: .9em;
                    &:hover{
                        text-decoration: underline;
                    }

                    @include mobile{
                        text-align: center;
                        font-size: 0.7em;
                    }
                    
                }
            }
        }
    }

    &--product{

        @include grande-tablette{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @include mobile{
            position: relative;
        }

       
    }
    &--panier{

        @include grande-tablette{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @include petite-tablette{
            position: relative;
        }
    }
}
