@import "../utils/variables";
@import "../utils/mixins";

header{

    & .petit_bandeau{
        background-color: $fond_bandeau;
        //display: flex;
        //flex-direction: row;
        //justify-content: space-between;
        height: 50px;
        @include grande-tablette{
            width: 100vw;
            margin: auto;
        }
        & figure {
            float: left;
            width: 150px;
            margin: auto 0;

            & img {
                max-width: 100%;
                height: auto;
            }
            
        }
        & .toggle_btn{
            height: 30px;
            width: 30px;
            position: relative;
            float: right;
            margin-right: 10px;
            margin-top: 5px;
            cursor: pointer;

            & span{
                height: 3px;
                background-color: #2c3e50;
                width: 100%;
                position: absolute;
                top: 20px;
                left: 0;

                &::before{
                    content: '';
                    height: 3px;
                    background-color: #2c3e50;
                    width: 100%;
                    position: absolute;
                    top: -10px;
                    left: 0;

                }
                &::after{
                    content: '';
                    height: 3px;
                    background-color: #2c3e50;
                    width: 100%;
                    position: absolute;
                    top: 10px;
                    left: 0;

                }
            }
        }
        
        & .menu{
            //clear: left;
            height: 1000px;
            background-color: #2c3e50;
            width: 200px;

            & a{
                color: $blanc;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                display: block;
                padding-top: 20px;
                text-decoration: none;
                font-weight: bold;
            }
        }
        & .nav{
            margin-left: -200px;
            transition-duration: 0.2s;
            position: relative;

            &__open{
                margin-left: 0;
                transition-duration: 0.2s;
            }
        }

        
    }
}