@import "../utils/variables";

.button__personnalisation{
    cursor: pointer;
    background-color: $vert;
    color: $blanc;
    border-radius: 3em;
    transform: scale(1);
    transition: transform 400ms;
    &:hover{
        transform: scale(1.2);
    }
}

.boutonPanier{
    margin: auto 0;
    cursor: pointer;
    background-color: $vert;
    color: $blanc;
    height: 40px;
    transform: scaleZ(1);
    transition: transform 400ms, color 400ms, background-color 400ms;
    &:hover{
        color: $vert;
        background-color: $blanc;
    }
    &:focus{
        transform: scaleZ(.7);
    }
}
#divDelete{
    text-align: center;
    
        & #deleteButton{
            cursor: pointer;
            margin-top: 20px;
            background-color: $fond-bandeau;
            color: $rouge;
            height: 40px;
            width: 300px;
            transition : color 400ms, background-color 400ms;
            &:hover{
                color: $fond_bandeau;
                background-color: $rouge;
            }
        }
}

#confirm_order{
    cursor: pointer;
    margin: 30px 0;
    width: 300px;
    height: 40px;
    color: $vert;
    background-color: $fond_bandeau;
    transition: color 400ms, background-color 400ms;
    &:hover{
        color: $fond_bandeau;
        background-color: $vert;
    }
}   